In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import  OrdinalEncoder
import joblib
import sys
import datetime
from sklearn.cluster import DBSCAN
import re
!pip install nltk
import nltk
from nltk.corpus import stopwords
from nltk import wordnet, pos_tag
from nltk import WordNetLemmatizer
nltk.download('stopwords')
sw_eng = set(stopwords.words('english'))
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
!pip install catboost
from google.colab import files
from catboost import CatBoostClassifier 
pd.set_option('use_inf_as_na', True)
np.random.seed(42)

nltk.__version__

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 1.3 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

'3.7'

In [ ]:
def delete_stop_words(doc):
  sw_eng = set(stopwords.words('english'))
  return ' '.join([word for word in doc.split() if not (word in sw_eng)])

def get_wordnet_pos(treebank_tag):
    my_switch = {
        'J': wordnet.wordnet.ADJ,
        'V': wordnet.wordnet.VERB,
        'N': wordnet.wordnet.NOUN,
        'R': wordnet.wordnet.ADV,
    }
    for key, item in my_switch.items():
        if treebank_tag.startswith(key):
            return item
    return wordnet.wordnet.NOUN


def my_lemmatizer(sent):
    lemmatizer = WordNetLemmatizer()
    tokenized_sent = sent.split()
    pos_tagged = [(word, get_wordnet_pos(tag))
                for word, tag in pos_tag(tokenized_sent)]
    return ' '.join([lemmatizer.lemmatize(word, tag)
                    for word, tag in pos_tagged])
      
def preprocess_data(data):
  X = data.copy()

  X['Count photos'] = X.photos.map(lambda s: s.count('http'))

  X['latitude'] = X['latitude'].replace(0,np.NaN)
  X['longitude'] = X['longitude'].replace(0,np.NaN)

  X['long*lat'] = X['longitude'] * X['latitude']

  clustering = DBSCAN(eps=1.01e-4, min_samples=1).fit(X[['latitude', 'longitude']].fillna(0))
  X['new id'] = pd.Series(clustering.labels_)
  
  X['bath*bed'] = X['bedrooms'] * X['bathrooms']
  X['bath/bed'] = X['bathrooms'] / X['bedrooms']
  X['bath/bed'] = X['bath/bed'].replace(np.inf, 0)
  X['bath/bed'].where(X['bath/bed'] != 0, other=X['bathrooms']*2, inplace=True)

  X['price*bed'] = X['price'] * X['bedrooms']
  X['price*bath'] = X['price'] * X['bathrooms']

  X['price/bed'] = X['price'] / X['bedrooms']  
  X['price/bath'] = X['price'] / X['bathrooms']

  X['price/bed'] = X['price/bed'].replace(np.inf, 0)
  X['price/bed'].where(X['price/bed'] != 0, other=X['price']*2, inplace=True)
  X['price/bath'] = X['price/bath'].replace(np.inf, 0)
  X['price/bath'].where(X['price/bath'] != 0, other=X['price']*2, inplace=True)

  X['price/(bedrooms+bathrooms)'] = X['price'] / (X['bedrooms'] + X['bathrooms'])
  X['price/(bedrooms+bathrooms)'] = X['price/(bedrooms+bathrooms)'].replace(np.inf, 0)
  X['price/(bedrooms+bathrooms)'].where(X['price/(bedrooms+bathrooms)'] != 0, other=X['price']*2, inplace=True)

  X['price*count photos'] = X['price'] * X['Count photos']

  X['price/count photos'] = X['price'] / X['Count photos']
  X['price/count photos'] = X['price/count photos'].replace(np.inf, 0)
  X['price/count photos'].where(X['price/count photos'] != 0, other=X['price']*2, inplace=True)

  X['Created month'] = pd.to_datetime(X['created']).map(lambda x: x.month)

  X['price*Created month'] = X['price'] * X['Created month']
  X['price/Created month'] = X['price'] / X['Created month']

  X['count photos*Created month'] = X['Count photos'] * X['Created month']
  X['count photos/Created month'] = X['Count photos'] / X['Created month']

  X['display_address'] = data.display_address.astype(str).map(lambda s: re.sub('[^ a-z0-9]', "", (' ' + s + ' ').lower())
                                                                .replace(' w ', ' west ').replace(' e ', ' east ').replace(' st ', ' street ').replace(' ave ', ' avenue ')
                                                                .replace('first', '1').replace('second', '2').replace('third', '3').replace('fourth', '4')
                                                                .replace('fifth', '5').replace('sixth', '6').replace('seventh', '7').replace('eighth', '8')
                                                                .replace('ninth', '9').replace('tenth', '10')
                                                                .replace('2nd', '2').replace('1st', '1').replace('3rd', '3').replace('th', '')
                                                                .strip())
  
  X['display_address'] = X['display_address'].map(lambda s: re.sub('^\d+', "", s).strip() if (len(re.findall('\d+', s)) == 2) else s)

  X['features'] = data.features.map(lambda s: re.sub('[^a-zA-Z ]', " ", s.lower())) + ' ' + data.description.astype(str).map(lambda s: re.sub('[^a-zA-Z ]', " ", s.lower())) 
  X['features'] = X['features'].map(lambda s: delete_stop_words(s.strip()))
  X['features'] = X['features'].map(lambda s: my_lemmatizer(s))

  # categotical features for catboost
  X['building_id'] = X['building_id'].astype(str)
  X['manager_id'] = X['manager_id'].astype(str)
  X['bathrooms'] = X['bathrooms'].astype(str)
  X['bedrooms'] = X['bedrooms'].astype(str)
  X = X.drop(['description', 'photos', 'street_address', 'created', 'Id', 'listing_id'], axis=1) 
  return X

In [ ]:
test_data = pd.read_csv('test.csv')
train_data =  pd.read_csv('train.csv')
train_data

           Id  bathrooms  bedrooms  ... price        street_address  TARGET
0       57094        1.0         3  ...  4495         W 50 & AVE 10  medium
1       33389        1.0         1  ...  2570  55 River Drive South  medium
2       60458        1.0         0  ...  1795        22 W 77 Street     low
3       53048        1.0         2  ...  3400       100 John Street     low
4         592        1.0         3  ...  5695  321 West 16th Street     low
...       ...        ...       ...  ...   ...                   ...     ...
34541   25582        1.0         1  ...  1950         30-95 29th St     low
34542   50013        1.0         0  ...  2600           39 E 1st St  medium
34543  111475        2.0         2  ...  5110      2-01 50th Avenue     low
34544   71184        1.0         2  ...  3400  400 West 56th Street  medium
34545  117473        1.0         2  ...  2950       158 E 82 Street  medium

[34546 rows x 16 columns]

In [ ]:
df = preprocess_data(train_data)
y_train = df['TARGET']
X_train = df.drop(['TARGET'], axis=1)
X_test = preprocess_data(test_data)
X_train

      bathrooms  ... count photos/Created month
0           1.0  ...                   0.600000
1           1.0  ...                   2.166667
2           1.0  ...                   1.200000
3           1.0  ...                   0.800000
4           1.0  ...                   0.500000
...         ...  ...                        ...
34541       1.0  ...                   0.666667
34542       1.0  ...                   1.200000
34543       2.0  ...                   3.750000
34544       1.0  ...                   0.600000
34545       1.0  ...                   1.000000

[34546 rows x 26 columns]

In [ ]:
cbc = CatBoostClassifier(logging_level = 'Silent', eval_metric = 'MultiClass',
                         cat_features = ['bathrooms', 'bedrooms', 'building_id', 'new id', 'manager_id','Count photos'],
                         text_features = ['display_address',	'features'],
                         auto_class_weights='Balanced', 
                         od_wait = 200, od_type='Iter')

param_grid = {
    'iterations': [3000], 
    'learning_rate': [0.2, 0.17, 0.15, 0.13, 0.11, 0.1, 0.09, 0.07, 0.05],
    'depth': [3],  
    'l2_leaf_reg': [3, 5, 7, 9],
    'random_strength' :[50, 100, 150, 200, 250],
    'border_count':[254]
}



res = cbc.grid_search(param_grid, X_train, y_train, verbose=False, refit= True, cv = 5, partition_random_seed=42)

In [ ]:
print(cbc.best_score_)
res.get('params')

{'learn': {'MultiClass': 0.5491314431549824}}

{'border_count': 254,
 'depth': 3,
 'iterations': 3000,
 'l2_leaf_reg': 3,
 'learning_rate': 0.15,
 'random_strength': 250}

In [ ]:
y_pred = cbc.predict(X_test)
y_pred = y_pred.ravel()
pd.DataFrame({'Id': test_data['Id'], 'TARGET' : y_pred}).to_csv('my_submission.csv', index = False)
files.download('my_submission.csv')